<!-- Single Slide -->
<div class="welcome-single-slide">
    <!-- Post Thumb -->
    <img src="<%= post.featured_image %>" alt="">
    <!-- Overlay Text -->
    <div class="project_title">
        <div class="post-date-commnents d-flex">
        </div>
        <a href="<%= post.slug %>">
            <h5><%= post.place %> - <%= post.location_brief %></h5>
        </a>
    </div>
</div>
